*{
    background: pink;
}

header{
    height: 200px;
}

header h1{
    text-align: center;
    color: aliceblue;
    background: rgb(82, 82, 232);
    padding-top: 75px;
    margin: 0;
}

.searchbox{
    display:block;
    justify-content: space-around;
}

.btn{
    margin-top: 2em;
    background:midnightblue;
    border: 1px solid midnightblue;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 205px;
}

.textBox{
    height:40px;
    font-size:14pt;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
